#canvas_draw{
    height: 800px;
    width: 1000px;
}

#add_update{
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    width: 100px;
    margin: auto;
    cursor: pointer;;
}

#add_update:hover{
    background-color: red;
    cursor: pointer;
}